<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Plusx Invoice</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
        <style>
            body {
                font-family: 'Poppins', sans-serif;
                background-color: #000000;
            }
            p {
                margin: 4px 0px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                table-layout: fixed;
            }
            td {
                padding: 8px;
                text-align: left;
            }
            th {
                color: white;
                font-weight: 600;
                padding: 8px;
                text-align: left;
            }
            .text-white{
              color: #ffffff;
            }
            .text-neon{
              color: #00ffcc;
            }
            /* A4 Page size for print */
            @media print {
                body {
                    width: 210mm;
                    height: 297mm;
                    margin: 0;
                    padding: 0;
                    -webkit-print-color-adjust: exact;
                }
            }
            /* Prevent page cutoff */
            @page {
                size: A4;
                margin: 10mm;
            }
        </style>
    </head>
    <body>
        <div style="border: 1px solid #00ffcc; width: 100%; margin: auto;">
            <table style="width: 100%; font-size: 12px;">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td style="width:60%; vertical-align: baseline; ">
                                        <img src="https://plusx.shunyaekai.com/public/invoice-assets/xPlusLogo.png" alt="companylogo" style="max-width: 110px;" />
                                        <div class="text-white">
                                         <p style="font-size: 14px;">D55-PBU</p>
                                         <p style="font-size: 14px;">DUBAI PRODUCTION CITY</p>
                                         <p style="font-size: 14px;">Dubai-United Arab Emirates</p>
                                         <p style="font-size: 14px;">+971 54279 6424</p>
                                        </div>
                                    </td>
                                    <td style="text-align: right; vertical-align: baseline;">
                                        <p style="font-size: 38px; line-height: 38px; font-weight: 100; color: #00ffcc;">INVOICE</p>
                                        <div style="text-align: right;">
                                            <p style="font-size: 12px; font-weight: bold;" class="text-white">Booking ID: &nbsp;<%= data.booking_id %></p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <table style="width: 100%; margin-top: 10px;">
                                <tr>
                                    <td style="width: 40%; padding-right: 20px;">
                                        <p style="font-size: 16px;" class="text-white">Bill To:</p>
                                        <p style="font-size: 14px; font-weight: bold;" class="text-white"><%= data.rider_name %></p>
                                    </td>
                                    <td style="text-align: right;" class="text-white">
                                        <p style="font-size: 14px;">Invoice Date: <%= data.invoice_date %></p>
                                        <p style="font-size: 14px; padding-top: 10px;" class="text-white">Invoice No: &nbsp;<%= data.invoice_id %></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table style="width: 100%; border-spacing: 0;">
                                <thead>
                                    <tr style="background-color: #5e676f; color: #FFFFFF;">
                                        <th style="width: 70%; font-size: 16px; padding: 12px 10px;" class="text-neon">Item Name</th>
                                        <th style="text-align: center; width: 30%; font-size: 16px; padding: 12px 10px;" class="text-neon"> Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="text-white">
                                    <tr style="border-bottom: 1px solid #5e676f;">
                                        <td style="font-size: 14px;">Dewa Charge</td>
                                        <td style="text-align: center; font-size: 14px;">AED 0</td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #5e676f;">
                                        <td style="font-size: 14px;">CPO Charge</td>
                                        <td style="text-align: center; font-size: 14px;">AED 0</td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #5e676f;">
                                        <td style="font-size: 14px;">Delivery Charge</td>
                                        <td style="text-align: center; font-size: 14px;">AED 0</td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #5e676f;">
                                        <td style="font-size: 14px;">TAX</td>
                                        <td style="text-align: center; font-size: 14px;">AED 0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 70%; font-size: 16px; padding: 12px 10px;" class="text-neon">Total Amount</th>
                                        <th style="text-align: center; width: 30%; font-size: 16px; padding: 12px 10px;" class="text-white">AED 0</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>